@page "/"

<h1>Piedra, Papel y Tijera</h1>

<button class="btn btn-info">Reiniciar</button>

<div style="display:flex; justify-content:center; margin-bottom:20px;">
    <img src="papel.jpg" class="imagen"/>
</div>
<div style="display:flex; justify-content:space-around;">
    <img src="papel.jpg" class="imagen-seleccionable" />
    <img src="piedra.jpg" class="imagen-seleccionable" />
    <img src="tijeras.jpg" class="imagen-seleccionable" />
</div>